.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.net-price {
  padding: 2px 5px;
  background: #FFE7DB;
  border-radius: 8px;
}

.card-flex3 {
  gap: 40px;
  display: flex;

}

.blog-content{
  text-align: center;
}
.pagination3{
  margin-top: 48px;
  text-align: center;
}
.page-icon{
  padding: 40px 40px;
  font-size: 40px;
 
}
.main-icon{
  background:#FA7436 ;
  border-radius: 50%;
}