.contentT{
  text-align: center;
}
/* .allContent{
  margin-top: 120px;
} */
.singupSignIn{
  gap: 30px;
  display: flex;
  margin-top: 64px;
  /* padding: 20px 20px; */


}
.bgc{
  background-color:  #F7F8FC;
  padding-top: 120px;
  padding-bottom: 120px;
}
.main-bgc{
  margin-top: 53px;
}
.singUp{
  background: #FFFFFF;
  box-shadow: 14px 24px 72px rgb(102 102 102 / 10%);
  border-radius: 8px;
  padding: 40px 40px;
}