.contentT {

  width: 521px;
  text-align: center;
  margin: 0 auto;
}

/* .allContent{
  margin-top: 120px;
} */
.singupSignIn {
  gap: 30px;
  display: flex;
  margin-top: 64px;
  height: 278px;
  /* padding: 20px 20px; */


}

.bgc {
  background-color: #F7F8FC;
  padding-top: 120px;
  padding-bottom: 120px;
}

.singUp {
  background: #FFFFFF;
  box-shadow: 14px 24px 72px rgb(102 102 102 / 10%);
  border-radius: 8px;
  padding: 40px 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;


}

.font-singup-singin {
  font-size: 24px;
  line-height: 34px;
}

.logo-content {
  font-size: 48px;
  line-height: 54px;
  font-weight: 700px;


}

.logo-content-p-t {
  font-size: 18px;
  line-height: 32px;
  color: #666666;
  margin-top: 24px;
}

.font-singup-singin-p {
  font-size: 16px;
  line-height: 26px;
}

.height-width {
  height: 48px;
  width: 48px;
}

.thinkbgc-color {
  background-color: #F7F8FC;
}

/* responsive */
@media (max-width: 998px) {
  .contentT {
    width: 50%;

  }

  .singupSignIn {

    display: grid;
    height: 278px;
     grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }


}
@media (max-width: 798px) {
  .contentT {
    width: 70%;

  }

  .singupSignIn {

    display: grid;
    height: 278px;
     grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }


}
@media (max-width: 520px) {
  .contentT {
    width: 70%;

  }

  .singupSignIn {

    display: grid;
    grid-template-columns: 1fr;

  }


}